<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat the Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
